# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Studia\II sem\POJ\ćwiczenia\laboratorium_1-s22051-pj-lukasz-kos\Zadanie5.2_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
